[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]

[dev-packages]
build = "*"
pre-commit = "*"
pytest = "*"
pytest-asyncio = "*"
pytest-cov = "*"
pytest-docker-tools = "*"
flake8 = "*"
black = "*"
isort = "*"

[requires]
python_version = "3.11"
